<header class="container-fluid">

    <nav class="row ">
        <div class="container ">

            <div class="usicalitate ">
                <div></div>
                <div> </div>
                <div></div>
            </div>
            <h3 class="fw-300">Pune un anunt gratis</h3>
            <ul class="menu ">
                <li><a class=" " routerLinkActive="active" [routerLink]="['/anunt-imobiliar']">Anunturi Imobiliare</a></li>
                <li> <a class=" " routerLinkActive="active" [routerLink]="['/anunt-auto']">Anunturi Imobiliare</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/categorias']">Decoratiuni si iluminat</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Mobilier</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/productos']">Electrocasnice</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Informatica</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/about']">Bricolaj</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Instalatii termice</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Instalatii sanitare</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Constructii</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/contacto']">Gradina</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Auto</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Ghiduri utile</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Confort</a></li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Intretinerea casei</a></li>
                <li>
                    <a class=" " routerLinkActive="active" [routerLink]="['/login']">Pescuit</a>
                </li>
                <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Ghiduri utile</a></li>
            </ul>
        </div>
    </nav>
</header>