<main class="contenedor seccion contenido-centrado">

    <div class="wrapper">

        <header class="container-fluid">

            <nav class="row ">
                <div class="container ">

                    <div class="usicalitate ">
                        <div></div>
                        <div> </div>
                        <div></div>
                    </div>
                    <h3 class="fw-300">Nuestro Blog</h3>
                    <ul class="menu ">
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/anuncios']">Anunturi</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/articulo']">Articulo</a></li>
                        <li> <a class=" " routerLinkActive="active" [routerLink]="['/home']">Amenajari interiore</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/categorias']">Decoratiuni si iluminat</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Mobilier</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/productos']">Electrocasnice</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Informatica</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/about']">Bricolaj</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Instalatii termice</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Instalatii sanitare</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Constructii</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/contacto']">Gradina</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Auto</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Ghiduri utile</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/login']">Confort</a></li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Intretinerea casei</a></li>
                        <li>
                            <a class=" " routerLinkActive="active" [routerLink]="['/login']">Pescuit</a>
                        </li>
                        <li><a class=" " routerLinkActive="active" [routerLink]="['/register']">Ghiduri utile</a></li>
                    </ul>
                </div>
            </nav>
        </header>

    </div>
    <article class="entrada-blog">
        <div class="imagen">
            <img src="img/blog1.jpg" alt="Imagen Blog">
        </div>
        <div class="texto-blog">
            <a href="entrada.html">
                <h3>Terraza en el techo de tu casa</h3>
            </a>
            <p>Escrito el <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="img/blog2.jpg" alt="Imagen Blog">
        </div>
        <div class="texto-blog">
            <a href="entrada.html">
                <h3>Guía para la decoración de tu hogar</h3>
            </a>
            <p>Escrito el <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="img/blog3.jpg" alt="Imagen Blog">
        </div>
        <div class="texto-blog">
            <a href="entrada.html">
                <h3>Construye una alberca en tu hogar</h3>
            </a>
            <p>Escrito el <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </article>

    <article class="entrada-blog">
        <div class="imagen">
            <img src="img/blog4.jpg" alt="Imagen Blog">
        </div>
        <div class="texto-blog">
            <a href="entrada.html">
                <h3>Guía para la decoración de tu habitación</h3>
            </a>
            <p>Escrito el <span>20/10/2019</span> por: <span>Admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </article>

</main>